#about {
  @extend %content;

  h2,
  p {
    justify-self: start;
    
    @include break {
      grid-column: 2 / 12;
    }
  }

  h2 {
    @extend %highlight;

    @include break {
      justify-self: center;
    }
    
    &::before {
      @extend %pseudo-content;
      @include w(96%);
      background: lighten($yellow, 6);
    }
  }
}
