#contact {
  @extend %content;

  @include break {
    text-align: left;
  }

  h2 {
    @extend %highlight;
    @extend %inline;
    
    &::before {
      @extend %pseudo-content;
      @include w(96%);
      background: lighten($yellow, 6);
    }
  }

  dl {

    div {
      @include m-top(1em);
    }
  }

  dt, dd {
    display: inline-block;
    vertical-align: text-top;
  }

  dt {

    &::after {
      content: ': ';
    }
  }

  a {
    color: $teal;

    &:hover {
      text-decoration: underline;
    }
  }
}
