#nav {
  @include size(100% 54px);
  @include transition(box-shadow .3s);
  @include t;
  position: fixed;
  contain: layout size;
  z-index: 9;
  background: $white;

  &.\__shadow {
    box-shadow: 0 1px 3px ts(.2);
  }

  & > div {
    @extend %box;
    @include align-items(center);
    @include h(100%);
  }

  svg {
    stroke: $black;
    stroke-width: 1;
    stroke-linecap: round;
  }

  button {
    background: none;
  }

  .Button {
    @include m-left(auto);
  }
}

.Icon {
  @include size(44px);
}

.nav-Menu {
  @extend %box;
  @include size(100vw 100vh);
  @include xy(-101% 0);
  @include flex-direction(column);
  @include p(20px);
  position: absolute;
  background: $white;
  box-shadow: 1px 0 4px ts(.2);
  
  a {
    @include order(1);
    @extend %relative;
    @include p(2ex 0);
    @include l(-101%);
    font-size: 1.4rem;
    opacity: 0;

    &:first-child {
      @include m-top(1em);
    }
  }
}
