.Shero {
  @extend %strict;
  @include h(100vh);
  align-content: center;
  text-align: center;

  h1 {
    @extend %Playfair;
    @extend %relative;
    @include m-top(.8em);
    justify-self: center;
    font-size: 10vw;
    letter-spacing: .01ch;

    &::before {
      @extend %pseudo-content;
      @extend %absolute;
      @include size(8.4ch 1.1ex);
      left: -.3ch;
      bottom: 0;
      z-index: -1;
      background: lighten($yellow, 6);
    }
  }

  abbr {
    @include m-left(.7ch);
    font-size: 44%;
    color: #666;
  }

  .shero-Image {
    @extend %relative;
    @include w(58%);
    @include m(2em auto 0);

    div {
      @extend %absolute;
      contain: layout;
      z-index: 1;
      opacity: 0;
    }

    &.\__fadeIn {

      div {
        opacity: 1;
        transition: .2s;
      }
    }
  }

  picture {
    @extend %relative;
    @extend %hidden;
    z-index: 2;
    border-radius: 4px;

    &::before {
      @extend %pseudo-content;
      @extend %block;
      @include p-top(125%);
      background: #eaeaea;
    }
  }

  img {
    @extend %absolute;
    @include w;
    @include h(100%);
    @include l(-6%);
    @include t(0);
  }
}

#teal {
  @include w(15%);
  @include l(-32%);
  @include t(10%);
  fill: $yellow;
}

#red {
  @include w(64%);
  @include t(-12%);
  @include r(-26%);
  fill: $red;
}

#yellow {
  @include w(32%);
  @include l(-14%);
  @include b(-10%);
  z-index: 3;
  fill: $teal;
}
