%Playfair {
  font-family: Playfair, serif;
}

%OpenSans {
  font-family: OpenSans, serif;
}


%hidden {
  overflow: hidden;
}

%layout {
  contain: layout;
}

%strict {
  contain: strict;
}

%content {
  contain: content;
}

%visibility-auto {
  content-visibility: auto;
}

%wrap {
  @include flex-wrap(wrap);
}

%highlight {
  @extend %relative;
  
  &::before {
    @extend %absolute;
    @include h(1.1ex);
    @include l(-2%);
    @include b;
    z-index: -1;
  }
}

%pseudo-content {
  content: '';
}


%fragment {
  @include p-top(100px);
}
