/*
* Foundation.css
* Resets, normalizations, grid, breakpoints, and more.
* v1.1.0
*
* Put what you need in critical, the rest at the begining of your
* master stylesheet...
* And remove what you don't use!
*
* Contents:
* 1. Font Face
* 2. Meta Viewport
* 3. Resets
* 4. Normalizations
* 5. Helpers
* 6. Simple Grid
* 7. Browser Specific Rules
* 8. OS Rules
*
* Note: 'Edge' refers to versions 12 to 18 (Non-Chromium)
*/




/*
* 3. Resets
*/


h2,
h3,
h4,
ul {
  @include p;
  @include m;
  border: 0;
}

ul {
  list-style: none;
}


li::before {
  content: '\200B';
  /* Uncomment if some lists will use 'list-style' */
  /*
  position: absolute;
  */
}

abbr {
  text-decoration: none;
}

address {
  font-style: normal;
}

/*
* 4. Normalizations
*/


h2,
h3,
h4 {
  line-height: 1.2;
  text-rendering: geometricPrecision;
}


:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}


/*
* 5. Helpers
*/

/* Long bodies of text */
// .long {
//   text-rendering: optimizeSpeed;
// }

/* No break */
// .nobr {
//   white-space: nowrap;
// }


// .outline,
// .graphical span {
//   width: 1px;
//   height: 1px;
//   position: absolute;
//   overflow: hidden;
// }

[data-frag] {
  @include p-top(70px);

  @include break {
    @include p-top(100px);

    &:not(:first-of-type) {
      @include m-top(100px);
    }
  }
}

p,
ul,
h4 {
  @include m-top(1em);
}

li {
  @include m-top(.6em);
  line-height: 1.4;
}

p a {
  color: $teal;

  &:hover {
    text-decoration: underline;
  }
}

h2,
h3 {
  font-family: Playfair, serif;
}


h2 {
  font-size: 2rem;
}
