@import
'vendor/turntable',
'base/variables',
'base/mixins',
'base/crit-base',
'base/extends',
'partials/Nav',
'partials/Shero',
'partials/Button'
;



/*
 * Minimal breakpoints
 */
@include break(tablet) {

  [data-wrap],
  [data-grid] {
    padding-left: 24px;
    padding-right: 24px;
  }

  [data-grid] {
    grid-column-gap: 24px;
    column-gap: 24px;
  }

  .Shero {
    
    h1 {
      font-size: 8vw;
    }

    p {
      grid-column: 3 / 11;
    }

    .hero-Image {
      width: 40%;
      margin-top: 3em;
    }
  }

}

@include break(iphone) {
  [data-wrap],
  [data-grid] {
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
  }
}

@include break {

  html {
    font-size: 20px;
  }

  [data-wrap],
  [data-grid] {
    width: 84%;
    max-width: 1436px;
    padding-left: 30px;
    padding-right: 30px;
  }

  [data-grid] {
    grid-column-gap: 30px;
    column-gap: 30px;
  }

  .Icon {
    display: none;
  }

  #nav {
    height: 90px;

    .nav-Menu {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      flex-direction: row;
      box-shadow: none;
      transition: none;

      a {
        padding: 1ex 0;
        margin-right: 4ch;
        left: 0;
        font-size: 1rem;
        opacity: 1;
        transition: .2s color;
  
        &:hover {
          color: darken($teal, 3);
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .Shero {
    text-align: left;
    grid-template-rows: 1fr 1fr;

    h1,
    p {
      grid-column: span 5;
    }
  
    h1 {
      margin-top: auto;
      font-size: 4.4vw;
      justify-self: start;

      &::before {
        left: -.2ch;
      }
    }
  
    .shero-Image {
      width: 50%;
      margin: auto;
      grid-column: 7  / -1;
      grid-row: 1 / -1;
    }
  }

  #teal {
    left: -50%;
    fill: $teal;
  }
  
  #red {
    width: 80%;
    top: -18%;
  }
  
  #yellow {
    width: 40%;
    bottom: -22%;
    left: -18%;
    fill: $yellow;
  }

}

@include break(large) {

  html {
    font-size: 22px;
  }

  .Shero {
    h1 {
      font-size: 4.1rem;
    }
  }

}
