@import
'vendor/turntable',
'base/variables',
'base/mixins',
'base/extends',
'base/crit-base',
'partials/Nav',
'partials/Shero',
'partials/Button'
;



/*
 * Minimal breakpoints
 */
@include break(tablet) {

  [data-wrap],
  [data-grid] {
    @include p-left(24px);
    @include p-right(24px);
  }

  [data-grid] {
    grid-column-gap: 24px;
    column-gap: 24px;
  }

  .Shero {
    
    h1 {
      font-size: 8vw;
    }

    p {
      grid-column: 3 / 11;
    }

    .shero-Image {
      @include w(40%);
      @include m-top(3em);
    }
  }

}

@include break(iphone) {
  [data-wrap],
  [data-grid] {
    @include p-left(env(safe-area-inset-right));
    @include p-right(env(safe-area-inset-left));
  }
}

@include break {

  html {
    font-size: 20px;
  }

  [data-wrap],
  [data-grid] {
    @include w(84%);
    @include max-w(1436px);
    @include p-left(30px);
    @include p-right(30px);
  }

  [data-grid] {
    grid-column-gap: 30px;
    column-gap: 30px;
  }

  .Icon {
    display: none;
  }

  #nav {
    @include h(90px);

    .nav-Menu {
      @include size(auto);
      position: static;
      padding: 0;
      flex-direction: row;
      box-shadow: none;
      transition: none;

      a {
        @include p(1ex 0);
        @include m-right(4ch);
        @include l;
        font-size: 1rem;
        opacity: 1;
        transition: .2s color;
  
        &:hover {
          color: darken($teal, 3);
        }

        &:first-child {
          @include m-top;
        }
      }
    }
  }

  .Shero {
    text-align: left;
    grid-template-rows: 1fr 1fr;

    h1,
    p {
      grid-column: span 5;
    }
  
    h1 {
      @include m-top(auto);
      font-size: 4.4vw;
      justify-self: start;

      &::before {
        left: -.2ch;
      }
    }
  
    .shero-Image {
      @include w(50%);
      margin: auto;
      grid-column: 7  / -1;
      grid-row: 1 / -1;
    }
  }

  #teal {
    @include l(-50%);
    fill: $teal;
  }
  
  #red {
    @include w(80%);
    @include t(-18%);
  }
  
  #yellow {
    @include w(40%);
    @include l(-18%);
    @include b(-22%);
    fill: $yellow;
  }

}

@include break(large) {

  html {
    font-size: 22px;
  }

  .Shero {
    h1 {
      font-size: 4.1rem;
    }
  }

}
