<!--
  Site.Data.contact: {
    email: string
    phone: string
    fax: string
    street: string
    city: string
    state: string
    zip: string
  }
-->


{{ with .Site.Data.contact }}

  <section
    id='contact'
    data-frag
    data-wrap
  >

    <h2>Contact</h2>

    <ul>
      
      <li>
      
        <span>Email</span>
        
        <a href='mailto:{{ .email }}'>{{ .email }}</a>
      
      </li>
    
      <li>
      
        <span>Phone</span>

        <a href='tel:+1{{ replace .phone "-" "" }}'>{{ .phone }}</a>
      
      </li>
      
      <li>
        
        <span>Address</span>
        
          <a
            href='https://goo.gl/maps/pAjwsCT1NZcqqbBT8'
            target='_blank'
            rel='nofollow noopener noreferrer'
          >
    
            {{- .street -}}<br>
            {{- .city -}},
            {{- print " " .state -}}
            {{- print " " .zip -}}
      
          </a>
      
      </li>

      <li>
        
        <span>Fax</span>
    
        {{ .fax }}
      
      </li>

    </ul>

  </section>

{{ end }}
